@model List<Articulo>
@{
    ViewData["Title"] = "Admin index";
}

<h1 class="text-white">Bienvenido al dashboard de administración</h1>

<form id="buscar">
    <div class="input-group mb-3">
        <input type="text" name="query" id="query" class="form-control bg-dark text-white" placeholder="Buscar artículos">
        <input type="submit" class="btn btn-success" id="button-addon2" value="Buscar">
    </div>
</form>

<div class="input-group mb-3">
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Crear"><b>+</b> Crear artículo</a>
</div>

<ul class="list-group">
    @foreach (var articulo in Model) {
        <li class="list-group-item text-white bg-dark d-flex justify-content-between align-items-center">
            <span>
                @articulo.titulo <span class="badge text-black bg-light">@articulo.categoria</span>
            </span>
            <span>
                <a class="badge bg-primary rounded-pill" asp-route-id="@articulo._id" asp-controller="Admin" asp-action="Editar">Editar</a>
                <a class="badge bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#eliminar">Eliminar</a>
            </span>
        </li>

        <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="modal-lable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-lable">Seguro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el artículo @articulo.titulo de la lista?</p>
                        <p>¡¡¡Esta acción no se puede deshacer!!!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a type="button" asp-controller="Admin" asp-action="Eliminar" asp-route-id="@articulo._id" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</ul>
